article {
    border: 2px dotted black;
    padding-bottom: 10px;
}


.business {
    border-bottom: 2px solid black;
}

.business__address {
    padding-bottom: 5px;
}

.agent {
    border-bottom: 2px solid black;
}